In [1]:
#packages related to dataframes
import pandas as pd
import numpy as np
from pathlib import Path

#package needed to assign user a unique id 
import uuid

#package nee
import csv

# Importing helper function from utils folder 
import sys
sys.path.append('Resources/utils')
from user_form_intake import inital_user_intake, get_user_inital_input, portfolio_user_intake, get_user_portfolio_input

# Grabbing the Data Files

In [2]:
#Grabing the raw stock data and putting in dataframe
raw_stocks_data_to_load =  Path("Resources/Data/Stock_Index_Raw_Data.csv")
raw_stocks_data_df = pd.read_csv(raw_stocks_data_to_load, header=0, parse_dates=True, index_col="Date", infer_datetime_format=True)
raw_stocks_data_df.sort_index(ascending = True, inplace = True)
raw_stocks_data_df.head()

,Company,Ticker,Close_Price,Industry,Sector
Date,,,,,
2023-02-01,Apple,AAPL,145.43,Computer Manufacturing,Technology
2023-02-01,Amazon,AMZN,105.15,Catalog/Specialty Distribution,Consumer Discretionary
2023-02-01,Nvidia,NVDA,209.43,Semiconductors,Technology
2023-02-01,Alphabet,GOOGL,100.43,"Computer Software: Programming, Data Processing",Technology
2023-02-01,Meta,META,153.12,"Computer Software: Programming, Data Processing",Technology

In [3]:
#Grabing the raw stock data and putting in dataframe
user_data_to_load =  Path("Resources/Data/User_Portfolio_Data.csv")
user_data_df = pd.read_csv(user_data_to_load, header=0, parse_dates=True)
user_data_df.sort_index(ascending = True, inplace = True)
user_data_df.head()

,UUID,User_Name,Sharpe_Ratio,Cumulative_Returns,Daily_Returns,Stocks
0,c8b71fc0-a969-4bbb-80f0-8caeedd3cc6a,Test1,4.54450,6565.22,45764,"['AVGO', 'AAPL', 'MSFT', 'V', 'NVDA']"
1,951bb78a-dacb-4047-a255-2eb50314a9fd,Amy,4.43430,23432.22,45454,"['V', 'GOOGL', 'JNJ', 'MSFT', 'XOM']"
2,56a3ba9e-7b6d-4376-a6d8-ffd2f42cee9d,Chris,3.11234,23432.22,45454,"['AVGO', 'AAPL', 'MSFT', 'XOM']"
3,951bb78a-dacb-4047-a255-2eb50314a9fd,Amy,3.11234,23432.22,45454,"['V', 'GOOGL', 'JNJ', 'MSFT', 'XOM']"
4,2526a1f9-0f46-4b73-a0aa-ac9f5920e3d9,JJ,2.11000,100.22,134,"['AMZN', 'AAPL', 'MSFT', 'JPM']"

# User Input for Game of Stocks

In [4]:
# Envoking the user intake form 1. It will store the information in the following variables so it can be used in notebook later.

inital_user_intake()

Welcome to the Game of Stocks! You will be asked a series of questions to get started.
    You can choose up to 10 stickes to create portfolio. Remember to diversify your portfolio.

Textarea(value='Input your name', description='First Name:', placeholder='Type something')

Dropdown(description='Amount', index=10, options=(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'Choose Stock Amount:'), valu…

Button(description='Submit', style=ButtonStyle())

In [5]:
# Getting the form values that was store in name, num_of_stocks_choosen 
name, num_of_stocks_choosen = get_user_inital_input()

In [6]:
portfolio_user_intake(num_of_stocks_choosen)

Dropdown(description='Stock 1:', options=('', 'Apple (AAPL) - Computer Manufacturing', 'Microsoft (MSFT) - Com…

Dropdown(description='Stock 2:', options=('', 'Apple (AAPL) - Computer Manufacturing', 'Microsoft (MSFT) - Com…

Dropdown(description='Stock 3:', options=('', 'Apple (AAPL) - Computer Manufacturing', 'Microsoft (MSFT) - Com…

Dropdown(description='Stock 4:', options=('', 'Apple (AAPL) - Computer Manufacturing', 'Microsoft (MSFT) - Com…

Dropdown(description='Stock 5:', options=('', 'Apple (AAPL) - Computer Manufacturing', 'Microsoft (MSFT) - Com…

Dropdown(description='Stock 6:', options=('', 'Apple (AAPL) - Computer Manufacturing', 'Microsoft (MSFT) - Com…

Button(description='Submit', style=ButtonStyle())

In [7]:
# getting the user chosen portfolio
unique_user_portfolio_array = get_user_portfolio_input()

In [8]:
unique_user_portfolio_array

['BRK.B', 'GOOGL', 'NVDA', 'UNH', 'AAPL']

In [9]:
#calculating individual weights since we will assume it will be evenly split
weight = round((1/len(unique_user_portfolio_array)),5)

weight

0.2

In [10]:
#creating the weight array to apply to stocks
weight_array = [weight] * len(unique_user_portfolio_array)
weight_array

[0.2, 0.2, 0.2, 0.2, 0.2]

# User Portfolio Calculations

In [15]:
# Get data from file for tickers in unique_user_portfolio_array using ".loc" and ".isin"
portfolio_returns = raw_stocks_data_df.loc[raw_stocks_data_df["Ticker"].isin(unique_user_portfolio_array)]

# Filter columns to get only the Ticker and Close Price and drop null values
portfolio_returns= portfolio_returns[["Ticker","Close_Price"]].dropna()

# Set tickers as columns
portfolio_returns= portfolio_returns.pivot_table("Close_Price","Date","Ticker")

# Calculate daily returns using "pct_change" and drop null values 
portfolio_returns = portfolio_returns.pct_change().dropna()

# Display data
portfolio_returns.head()

Ticker          AAPL     BRK.B     GOOGL      NVDA       UNH
Date
2023-02-02  0.037063  0.004154  0.072787  0.036575 -0.052656
2023-02-03  0.024400 -0.010742 -0.027474 -0.028053  0.002527
2023-02-06 -0.017929 -0.000259 -0.017942 -0.000521  0.006822
2023-02-07  0.019245  0.014720  0.046064  0.051401  0.003451
2023-02-08 -0.017653 -0.014346 -0.076830  0.001443  0.013295

In [16]:
# Create portfolio variable in dataframe with weights using ".dot"
portfolio_returns["Portfolio"] = portfolio_returns.dot(weight_array)
portfolio_returns.head()

Ticker          AAPL     BRK.B     GOOGL      NVDA       UNH  Portfolio
Date
2023-02-02  0.037063  0.004154  0.072787  0.036575 -0.052656   0.019585
2023-02-03  0.024400 -0.010742 -0.027474 -0.028053  0.002527  -0.007868
2023-02-06 -0.017929 -0.000259 -0.017942 -0.000521  0.006822  -0.005966
2023-02-07  0.019245  0.014720  0.046064  0.051401  0.003451   0.026976
2023-02-08 -0.017653 -0.014346 -0.076830  0.001443  0.013295  -0.018818

In [17]:
# use to store in user portfolio table 
user_sharpe_ratio= (portfolio_returns["Portfolio"].mean() * (252)) / (portfolio_returns["Portfolio"].std() * np.sqrt(252))
user_sharpe_ratio

3.685375003568005

# Storing User Info In User Portfolio CSV and Updating The Rank

In [18]:
#getting a uuid 
unique_id = uuid.uuid4()

#converting uuid to string so it can store as a string in csv and easier to use loc
user_uuid_str = str(unique_id)
print("UUID as string:", user_uuid_str)

UUID as string: 1ef50c81-e061-40d3-b398-10ec9e0ff0d6

In [19]:
# test static values - NEED TO BE REPLACE 
user_sharpe_ratio = 4.5445
user_cumulative_returns = 6565.22
user_daily_returns = 45764

In [20]:
# Create a list of dictionaries (each dictionary represents a row of data)
user_data = [{'UUID': user_uuid_str,
              'User_Name': name,
              'Sharpe_Ratio': user_sharpe_ratio,
              'Stocks': f'{unique_user_portfolio_array}'}]

# Create the DataFrame from the list of dictionaries
user_portfolio_df = pd.DataFrame(user_data)

In [21]:
# Append the new row to the DataFrame
# user_data_df = user_data_df.append(user_data, ignore_index=True)

# Concatenate the original DataFrame and the new row DataFrame
user_data_df = pd.concat([user_data_df, user_portfolio_df], ignore_index=True)

# Write the updated DataFrame back to the CSV file
user_data_df.to_csv(user_data_to_load, index=False)

#Print so user can see what was added 
print("New User row added to the User User_Portfolio_Data.csv file. The following was added:")
display(user_portfolio_df)

New User row added to the User User_Portfolio_Data.csv file. The following was added:

,UUID,User_Name,Sharpe_Ratio,Stocks
0,1ef50c81-e061-40d3-b398-10ec9e0ff0d6,Ed,4.5445,"['BRK.B', 'GOOGL', 'NVDA', 'UNH', 'AAPL']"

In [22]:
#preview top 5 users BEFORE the rank is updated 
user_data_df.head()

,UUID,User_Name,Sharpe_Ratio,Cumulative_Returns,Daily_Returns,Stocks
0,c8b71fc0-a969-4bbb-80f0-8caeedd3cc6a,Test1,4.54450,6565.22,45764.0,"['AVGO', 'AAPL', 'MSFT', 'V', 'NVDA']"
1,951bb78a-dacb-4047-a255-2eb50314a9fd,Amy,4.43430,23432.22,45454.0,"['V', 'GOOGL', 'JNJ', 'MSFT', 'XOM']"
2,56a3ba9e-7b6d-4376-a6d8-ffd2f42cee9d,Chris,3.11234,23432.22,45454.0,"['AVGO', 'AAPL', 'MSFT', 'XOM']"
3,951bb78a-dacb-4047-a255-2eb50314a9fd,Amy,3.11234,23432.22,45454.0,"['V', 'GOOGL', 'JNJ', 'MSFT', 'XOM']"
4,2526a1f9-0f46-4b73-a0aa-ac9f5920e3d9,JJ,2.11000,100.22,134.0,"['AMZN', 'AAPL', 'MSFT', 'JPM']"

In [23]:
#Sort user portfolio table to get new ranking. Sort by descending since higher sharpe ratio the better 
sorted_user_data_df = user_data_df.sort_values(by='Sharpe_Ratio', ascending=False)

#Rank AFTER rank is updated  
sorted_user_data_df.head()

,UUID,User_Name,Sharpe_Ratio,Cumulative_Returns,Daily_Returns,Stocks
0,c8b71fc0-a969-4bbb-80f0-8caeedd3cc6a,Test1,4.54450,6565.22,45764.0,"['AVGO', 'AAPL', 'MSFT', 'V', 'NVDA']"
6,1ef50c81-e061-40d3-b398-10ec9e0ff0d6,Ed,4.54450,NaN,NaN,"['BRK.B', 'GOOGL', 'NVDA', 'UNH', 'AAPL']"
1,951bb78a-dacb-4047-a255-2eb50314a9fd,Amy,4.43430,23432.22,45454.0,"['V', 'GOOGL', 'JNJ', 'MSFT', 'XOM']"
2,56a3ba9e-7b6d-4376-a6d8-ffd2f42cee9d,Chris,3.11234,23432.22,45454.0,"['AVGO', 'AAPL', 'MSFT', 'XOM']"
3,951bb78a-dacb-4047-a255-2eb50314a9fd,Amy,3.11234,23432.22,45454.0,"['V', 'GOOGL', 'JNJ', 'MSFT', 'XOM']"

In [ ]:
#Save new rank to user User_Portfolio_Data.csv Write the updated DataFrame back to the CSV file

sorted_user_data_df.to_csv(user_data_to_load, index=False)

#have to re-import the user portfolio data to get updated sorted list 
user_data_df = pd.read_csv(user_data_to_load, header=0, parse_dates=True)
user_data_df.sort_index(ascending = True, inplace = True)

In [ ]:
#User Ranking of top 5 AFTER rank is updated  

user_data_df.head()

In [ ]:
# Grab Postition of User Ranking 

condition = user_data_df['UUID'] == user_uuid_str
matching_rows = user_data_df[condition]

# Get the index of the first matching row (if any)
if not matching_rows.empty:
    row_index = matching_rows.index[0]
#     print(f"Index of the row: {row_index}")
    print(f"{name}, your rank is {row_index + 1}" )
else:
    print("Error, user info not found")

# User Performance Compared to Other Players Calulation and Market

In [ ]:
# Create a dataframe for market indicators and calculate daily returns and drop nulls 
sp_returns = raw_stocks_data_df.loc[raw_stocks_data_df["Ticker"]=="SPX"]
sp_returns = sp_returns[["Close_Price"]].pct_change().dropna()

ndaq_returns = raw_stocks_data_df.loc[raw_stocks_data_df["Ticker"]=="NDAQ"]
ndaq_returns = ndaq_returns[["Close_Price"]].pct_change().dropna()

# Rename columns to SP500 and NDAQ
sp_returns.columns=["SP500"]
ndaq_returns.columns=["NDAQ"]

# Combine dataframes
market_returns = pd.concat([sp_returns, ndaq_returns], axis="columns", join="inner")
market_returns.head(

In [ ]:
# Join market_return with portfolio to calculate sharp ratio
portfolio_market_returns = pd.concat([portfolio_returns["Portfolio"], market_returns], axis="columns", join="inner")
portfolio_market_returns.head()

In [ ]:
# Calculate sharp ratio - visulaize purposes - Portfolio and the Index
portfolio_market_sharp_ratio = (portfolio_market_returns.mean() * (252)) / (portfolio_market_returns.std() * np.sqrt(252))
portfolio_market_sharp_ratio

In [ ]:
# Calculate cumulative returns to create plot
portfolio_market_stocks_return = pd.concat([portfolio_returns, market_returns], axis="columns", join="inner")
portfolio_market_stocks_cum_return = (1 + portfolio_market_stocks_return).cumprod()
portfolio_market_stocks_cum_return

# Visulization