In [63]:
#packages related to dataframes
import pandas as pd
import numpy as np
from pathlib import Path

#package needed to assign user a unique id 
import uuid

#package nee
import csv

# Importing helper function from utils folder 
import sys
sys.path.append('../utils')
from user_form_intake1 import inital_user_intake, get_user_inital_input, portfolio_user_intake, get_user_portfolio_input

# Grabbing the Data Files

In [64]:
#Grabing the raw stock data and putting in dataframe
raw_stocks_data_to_load =  Path("../Data/Stock_Index_Raw_Data.csv")
raw_stocks_data_df = pd.read_csv(raw_stocks_data_to_load, header=0, parse_dates=True)
raw_stocks_data_df.sort_index(ascending = True, inplace = True)
raw_stocks_data_df.head()

       Date Company Ticker  Close_Price                Industry      Sector
0  2/1/2023   Apple   AAPL       145.43  Computer Manufacturing  Technology
1  2/2/2023   Apple   AAPL       150.82  Computer Manufacturing  Technology
2  2/3/2023   Apple   AAPL       154.50  Computer Manufacturing  Technology
3  2/6/2023   Apple   AAPL       151.73  Computer Manufacturing  Technology
4  2/7/2023   Apple   AAPL       154.65  Computer Manufacturing  Technology

In [65]:
#Grabing the raw stock data and putting in dataframe
user_data_to_load =  Path("../Data/User_Portfolio_Data.csv")
user_data_df = pd.read_csv(user_data_to_load, header=0, parse_dates=True)
user_data_df.sort_index(ascending = True, inplace = True)
user_data_df.head()

,UUID,User_Name,Sharpe_Ratio,Cumulative_Returns,Daily_Returns,Stocks
0,56a3ba9e-7b6d-4376-a6d8-ffd2f42cee9d,Chris,3.11234,23432.22,45454,"['AVGO', 'AAPL', 'MSFT', 'XOM']"
1,2526a1f9-0f46-4b73-a0aa-ac9f5920e3d9,JJ,2.11000,100.22,134,"['AMZN', 'AAPL', 'MSFT', 'JPM']"
2,56a3ba9e-7b6d-4376-a6d8-ffd2f42cee9d,Chris,1.11234,23432.22,45454,"['AVGO', 'AAPL', 'MSFT', 'XOM']"

# User Input for Game of Stocks

In [62]:
# Envoking the user intake form 1. It will store the information in the following variables so it can be used in notebook later.

inital_user_intake()

Welcome to the Game of Stocks! You will be asked a series of questions to get started.
    You can choose up to 10 stickes to create portfolio. Remember to diversify your portfolio.

Textarea(value='Input your name', description='First Name:', placeholder='Type something')

Dropdown(description='Amount', index=10, options=(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'Choose Stock Amount:'), valuâ€¦

Button(description='Submit', style=ButtonStyle())

Amy, you have choosen stock amount: 6

In [66]:
# Getting the form values that was store in name, num_of_stocks_choosen 
name, num_of_stocks_choosen = get_user_inital_input()

In [67]:
portfolio_user_intake(num_of_stocks_choosen)

Dropdown(description='Stock 1:', options=('', 'Apple (AAPL) - Computer Manufacturing', 'Microsoft (MSFT) - Comâ€¦

Dropdown(description='Stock 2:', options=('', 'Apple (AAPL) - Computer Manufacturing', 'Microsoft (MSFT) - Comâ€¦

Dropdown(description='Stock 3:', options=('', 'Apple (AAPL) - Computer Manufacturing', 'Microsoft (MSFT) - Comâ€¦

Dropdown(description='Stock 4:', options=('', 'Apple (AAPL) - Computer Manufacturing', 'Microsoft (MSFT) - Comâ€¦

Dropdown(description='Stock 5:', options=('', 'Apple (AAPL) - Computer Manufacturing', 'Microsoft (MSFT) - Comâ€¦

Dropdown(description='Stock 6:', options=('', 'Apple (AAPL) - Computer Manufacturing', 'Microsoft (MSFT) - Comâ€¦

Button(description='Submit', style=ButtonStyle())

You have selected these duplicate stocks MSFT and only one will be included in portfolio
Selected stocks: ['V', 'GOOGL', 'JNJ', 'MSFT', 'XOM']

In [68]:
# getting the user chosen portfolio
unique_user_portfolio_array = get_user_portfolio_input()

In [69]:
unique_user_portfolio_array

['V', 'GOOGL', 'JNJ', 'MSFT', 'XOM']

In [70]:
#calculating individual weights since we will assume it will be evenly split
weight = round((1/len(unique_user_portfolio_array)),5)

weight

0.2

In [71]:
#creating the weight array to apply to stocks
weight_array = [weight] * len(unique_user_portfolio_array)
weight_array

[0.2, 0.2, 0.2, 0.2, 0.2]

# User Portfolio Calculations

# Storing User Info In User Portfolio CSV and Sorting Thru Rank

In [72]:
#getting a uuid 
unique_id = uuid.uuid4()

#converting uuid to string so it can store as a string in csv and easier to use loc
user_uuid_str = str(unique_id)
print("UUID as string:", user_uuid_str)

UUID as string: 951bb78a-dacb-4047-a255-2eb50314a9fd

In [76]:
# test static values - NEED TO BE REPLACE 
user_sharpe_ratio = 4.4343
user_cumulative_returns = 23432.22
user_daily_returns = 45454

In [77]:
# Create a list of dictionaries (each dictionary represents a row of data)
user_data = [{'UUID': user_uuid_str,
              'User_Name': name,
              'Sharpe_Ratio': user_sharpe_ratio,
              'Cumulative_Returns': user_cumulative_returns,
              'Daily_Returns': user_daily_returns,
              'Stocks': f'{unique_user_portfolio_array}'}]

# Create the DataFrame from the list of dictionaries
user_portfolio_df = pd.DataFrame(user_data)

In [78]:
# Append the new row to the DataFrame
# user_data_df = user_data_df.append(user_data, ignore_index=True)

# Concatenate the original DataFrame and the new row DataFrame
user_data_df = pd.concat([user_data_df, user_portfolio_df], ignore_index=True)

# Write the updated DataFrame back to the CSV file
user_data_df.to_csv(user_data_to_load, index=False)

#Print so user can see what was added 
print("New User row added to the User User_Portfolio_Data.csv file. The following was added:")
display(user_portfolio_df)

New User row added to the User User_Portfolio_Data.csv file. The following was added:

,UUID,User_Name,Sharpe_Ratio,Cumulative_Returns,Daily_Returns,Stocks
0,951bb78a-dacb-4047-a255-2eb50314a9fd,Amy,4.4343,23432.22,45454,"['V', 'GOOGL', 'JNJ', 'MSFT', 'XOM']"

In [79]:
#preview top 5 users BEFORE the rank is updated 
user_data_df.head()

,UUID,User_Name,Sharpe_Ratio,Cumulative_Returns,Daily_Returns,Stocks
0,56a3ba9e-7b6d-4376-a6d8-ffd2f42cee9d,Chris,3.11234,23432.22,45454,"['AVGO', 'AAPL', 'MSFT', 'XOM']"
1,2526a1f9-0f46-4b73-a0aa-ac9f5920e3d9,JJ,2.11000,100.22,134,"['AMZN', 'AAPL', 'MSFT', 'JPM']"
2,56a3ba9e-7b6d-4376-a6d8-ffd2f42cee9d,Chris,1.11234,23432.22,45454,"['AVGO', 'AAPL', 'MSFT', 'XOM']"
3,951bb78a-dacb-4047-a255-2eb50314a9fd,Amy,3.11234,23432.22,45454,"['V', 'GOOGL', 'JNJ', 'MSFT', 'XOM']"
4,951bb78a-dacb-4047-a255-2eb50314a9fd,Amy,4.43430,23432.22,45454,"['V', 'GOOGL', 'JNJ', 'MSFT', 'XOM']"

In [80]:
#Sort user portfolio table to get new ranking. Sort by descending since higher sharpe ratio the better 
sorted_user_data_df = user_data_df.sort_values(by='Sharpe_Ratio', ascending=False)

#Rank AFTER rank is updated  
sorted_user_data_df.head()

,UUID,User_Name,Sharpe_Ratio,Cumulative_Returns,Daily_Returns,Stocks
4,951bb78a-dacb-4047-a255-2eb50314a9fd,Amy,4.43430,23432.22,45454,"['V', 'GOOGL', 'JNJ', 'MSFT', 'XOM']"
0,56a3ba9e-7b6d-4376-a6d8-ffd2f42cee9d,Chris,3.11234,23432.22,45454,"['AVGO', 'AAPL', 'MSFT', 'XOM']"
3,951bb78a-dacb-4047-a255-2eb50314a9fd,Amy,3.11234,23432.22,45454,"['V', 'GOOGL', 'JNJ', 'MSFT', 'XOM']"
1,2526a1f9-0f46-4b73-a0aa-ac9f5920e3d9,JJ,2.11000,100.22,134,"['AMZN', 'AAPL', 'MSFT', 'JPM']"
2,56a3ba9e-7b6d-4376-a6d8-ffd2f42cee9d,Chris,1.11234,23432.22,45454,"['AVGO', 'AAPL', 'MSFT', 'XOM']"

In [82]:
#Save new rank to user User_Portfolio_Data.csv Write the updated DataFrame back to the CSV file

sorted_user_data_df.to_csv(user_data_to_load, index=False)

#have to re-import the user portfolio data to get updated sorted list 
user_data_df = pd.read_csv(user_data_to_load, header=0, parse_dates=True)
user_data_df.sort_index(ascending = True, inplace = True)

In [84]:
#User Ranking of top 5 AFTER rank is updated  

user_data_df.head()

,UUID,User_Name,Sharpe_Ratio,Cumulative_Returns,Daily_Returns,Stocks
0,951bb78a-dacb-4047-a255-2eb50314a9fd,Amy,4.43430,23432.22,45454,"['V', 'GOOGL', 'JNJ', 'MSFT', 'XOM']"
1,56a3ba9e-7b6d-4376-a6d8-ffd2f42cee9d,Chris,3.11234,23432.22,45454,"['AVGO', 'AAPL', 'MSFT', 'XOM']"
2,951bb78a-dacb-4047-a255-2eb50314a9fd,Amy,3.11234,23432.22,45454,"['V', 'GOOGL', 'JNJ', 'MSFT', 'XOM']"
3,2526a1f9-0f46-4b73-a0aa-ac9f5920e3d9,JJ,2.11000,100.22,134,"['AMZN', 'AAPL', 'MSFT', 'JPM']"
4,56a3ba9e-7b6d-4376-a6d8-ffd2f42cee9d,Chris,1.11234,23432.22,45454,"['AVGO', 'AAPL', 'MSFT', 'XOM']"

In [85]:
# Grab Postition of User Ranking 

condition = user_data_df['UUID'] == user_uuid_str
matching_rows = user_data_df[condition]

# Get the index of the first matching row (if any)
if not matching_rows.empty:
    row_index = matching_rows.index[0]
#     print(f"Index of the row: {row_index}")
    print(f"{name}, your rank is {row_index + 1}" )
else:
    print("Error, user info not found")

Amy, your rank is 1

# Visulization